<!-- Displays score -->
Score:
<ul>
  <% @rps_game.game.score.each do |name, points| %>
    <li> <%= "#{name.to_s.capitalize}, #{points.to_s}." %> </li>
  <% end %>
</ul>


<!-- Displays moves -->
</br>
Moves:
<ul>
  <% @rps_game.moves.each      do |name, move | %>
    <li> <%= "#{name.to_s.capitalize} chose #{move.to_s}." %></li>
  
  <% end %>
</ul>

<!-- Displays outcome of round -->
</br>
Outcome:
<% if @outcome == :tie %>
  Game was a tie.
<% else %>
  <%= "#{@outcome.to_s.capitalize}" %> wins! 
<% end %>

<!-- Displays outcome of game -->
</br>
<% if @rps_game.game.winner? %>
<%= @rps_game.game.who_is_winner?.to_s.capitalize %> won the game!
<% end %>