<form action='/gamesetup' method='post'>
  What's your name?
  <input type="text" name="name"         value="You">

  How many rounds?
  <input type="text" name="rounds"       value="1">

  How many computer opponents?
  <input type="text" name="computer_player_count" value="1">

  How many human players?
  <input type="text" name="human_player_count" value="1">
  
  <br>
  <input type="submit" id="submit" value="GO!">
</form>