<form action='/' method='get'>
  Enter a name:
  <input type="text" name="name">
  Specify the number of rounds:
  <input type="text" name="rounds">
  <input type="submit" name="submit" value="submit">
</form>