<form action='/' method='get'>
  What's your name?
  <input type="text" name="name"         value="You">

  How many rounds?
  <input type="text" name="rounds"       value="1">

  How many opponents?
  <input type="text" name="player_count" value="1">

  How many human opponents?
  <input type="text" name="human_player_count" value="0">
  
  <br>
  <input type="submit" id="submit" value="GO!">
</form>