<!DOCTYPE html>
<html>

<head>
<link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/normalize.css">
<link rel="stylesheet" href="/css.css">

<title>Rock, Paper, Scissors. Korean Style.</title>
</head>

<body>

<header>

  <section id="header">
    <h1>ROCK, PAPER, SCISSORS.</h1>
  </section>

</header>

<section id="contentbox">

<!-- ETC. -->